/* Hide "Who to follow" box */
.bt--nowtf .module.wtf-module {
	display: none !important;
}

/* Hide "Trends for you" box */
.bt--notrends .module.trends {
	display: none !important;
}

/* Hide "Footer" box */
.bt--nofooter .module.Footer {
	display: none !important;
}

/* Hide promoted tweets */
.bt--nopromoted .has-profile-promoted-tweet,
.bt--nopromoted .promoted-tweet {
	display: none !important;
}

/* Hide tweet reply count */
.bt--nopopularity .ProfileTweet-action--reply .ProfileTweet-actionCountForPresentation {
	display: none !important;
}

/* Hide tweet retweet count */
.bt--nopopularity .ProfileTweet-action--retweet .ProfileTweet-actionCountForPresentation {
  display: none !important;
}

/* Hide tweet favorite count */
.bt--nopopularity .ProfileTweet-action--favorite .ProfileTweet-actionCountForPresentation {
	display: none !important;
}

/* Hide number of own favorites */
.bt--noownfavorites.bt--ownprofile .ProfileNav-item--favorites,
/* Hide number of other people's favorites */
.bt--nofame:not(.bt--ownprofile) .ProfileNav-item--favorites {
	display: none !important;
}

/* Hide number of own followers */
.bt--novanity.bt--ownprofile .ProfileNav-item--followers,
/* Hide number of other people's followers */
.bt--nofame:not(.bt--ownprofile) .ProfileNav-item--followers {
	display: none !important;
}

/* Hide number of own tweets */
.bt--novanity.bt--ownprofile .ProfileNav-item--tweets,
/* Hide number of other people's tweets */
.bt--nofame:not(.bt--ownprofile) .ProfileNav-item--tweets {
	display: none !important;
}

/* Hide number of moments */
.bt--noownmoments .ProfileNav-item--moments {
	display: none !important;
}

/* Hide stats about own twitter activity */
.bt--novanity .ProfileSidebar .TweetImpressionsModule {
	display: none !important;
}

/* Fix padding when hiding user card with profile stats */
.bt--nofame .DashboardProfileCard-content,
.bt--novanity .DashboardProfileCard-content {
	padding-bottom: 1em;
}

/* Hide all profile stats from user cards */
.bt--nofame .ProfileCardStats {
	display: none !important;
}

/* Hide retweets which mention the retweeter */
.bt--nobragging .bt--isbragging {
	display: none !important;
}
